<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Narrow Down Your Menu Choice</title>
  </head>
  <body>
    <h1>Using $http Service</h1>

    <div ng-controller='NarrowItDownController as menu'>
      <h3>List of Menu Categories</h3>
      <ul>
        <li ng-repeat="item in menu.search">
          {{ item.name }}, (<a href="" ng-click="menu.logMenuItems(category.short_name);">{{item.short_name}}</a>)
        </li>
      </ul>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/app_test.js"></script>
  </body>
</html>
