body {
	background-color: black;
	color: lightgray;
	padding-left: 20px;
}

.item {
	font-weight: bold;
	font-size: 1.0em;
}
.link{
	font-size: 1.0em;
}
a {
	text-decoration: none;
	color: lightgray;
}
li {
	padding-top: 10px;
}